@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #14213d;
  --secondary-color: #fca311;
  --mainGray: #e5e5e5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
}

a:hover {
  text-decoration: none;
}

/* hover */
.hoverNavLinks {
  transition: all 0.3s ease-in-out;
}

/* befor after */

.tra-b-a::before,
.tra-b-a::after {
  content: "";
  display: inline-block;
  width: 75px;
  height: 2px;
  background-color: var(--primary-color);
}

.tra-b-a::before {
  margin-right: 2rem;
}
.tra-b-a::after {
  margin-left: 2rem;
}

/* contact */
.contact-overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2em;
}

/* shadowFilter */
.shadowFilter {
  box-shadow: 0em 0.1em 0.2em 0.2em rgba(0, 0, 0, 0.3);
}

/* step */
.step-item {
  @apply relative flex flex-col items-center justify-center w-36;
}
.step-item:not(:first-child):before {
  @apply content-[''] bg-slate-200 absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-2/4;
}
.step {
  @apply w-10 h-10 flex items-center justify-center z-[1] relative bg-primary rounded-full font-semibold text-white;
}
.complete .step {
  @apply bg-green-600;
}
.complete p {
  @apply text-white;
}
.complete:not(:first-child):before {
  @apply bg-green-600;
}
